(
    name: "Explosion",
    dimension: D3,
    emitters: [
        (
            name: "Windup",
            enabled: true,
            amount: 10,
            time: (
                lifetime: 0.28,
                lifetime_randomness: 0.0,
                delay: 0.0,
                one_shot: true,
                explosiveness: 0.9,
                randomness: 0.0,
                fixed_fps: 30,
                seed: 0,
                use_fixed_seed: false,
            ),
            drawing: (
                draw_order: Index,
            ),
            draw_passes: [
                (
                    mesh: Cylinder(
                        top_radius: 0.1,
                        bottom_radius: 0.0,
                        height: 3.0,
                        radial_segments: 16,
                        rings: 4,
                        cap_top: true,
                        cap_bottom: true,
                    ),
                    material: Standard((
                        base_color: (1.0, 1.0, 1.0, 1.0),
                        emissive: (0.0, 0.0, 0.0, 1.0),
                        perceptual_roughness: 0.5,
                        metallic: 0.0,
                        alpha_mode: Blend,
                        double_sided: false,
                        unlit: false,
                        fog_enabled: true,
                        reflectance: 0.5,
                    )),
                ),
            ],
            process: (
                particle_flags: "ALIGN_Y_TO_VELOCITY",
                spawn: (
                    position: (
                        emission_shape: SphereSurface(
                            radius: 2.0,
                        ),
                        emission_shape_offset: (0.0, 0.0, 0.0),
                        emission_shape_scale: (1.0, 1.0, 1.0),
                    ),
                    velocity: (
                        inherit_velocity_ratio: 0.0,
                        velocity_pivot: (0.0, 0.0, 0.0),
                        direction: (0.0, 0.0, 0.0),
                        spread: 180.0,
                        flatness: 0.0,
                        initial_velocity: (
                            min: 0.0,
                            max: 0.0,
                        ),
                    ),
                ),
                animated_velocity: (
                    radial_velocity: (
                        value: (
                            min: -6.0,
                            max: -5.0,
                        ),
                        curve: Some((
                            curve: SineOutReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                ),
                accelerations: (
                    gravity: (0.0, 0.0, 0.0),
                ),
                display: (
                    scale: (
                        range: (
                            min: 0.2,
                            max: 0.4,
                        ),
                        curve: Some((
                            curve: SineInReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                    color_curves: (
                        initial_color: Solid(
                            color: (1.0, 0.9843137, 0.92156863, 1.0),
                        ),
                        alpha_curve: Some((
                            curve: SineIn,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                ),
                turbulence: Some((
                    enabled: false,
                    noise_strength: 0.1,
                    noise_scale: 2.5,
                    noise_speed: (0.0, 0.0, 0.0),
                    noise_speed_random: 0.2,
                    influence: (
                        min: 0.01,
                        max: 0.04,
                    ),
                )),
            ),
        ),
        (
            name: "Smoke",
            enabled: true,
            amount: 16,
            time: (
                lifetime: 2.0,
                lifetime_randomness: 0.0,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                randomness: 0.0,
                fixed_fps: 30,
                seed: 0,
                use_fixed_seed: false,
            ),
            drawing: (
                draw_order: Index,
            ),
            draw_passes: [
                (
                    mesh: Sphere(
                        radius: 1.0,
                    ),
                    material: Standard((
                        base_color: (1.0, 1.0, 1.0, 1.0),
                        emissive: (0.0, 0.0, 0.0, 1.0),
                        perceptual_roughness: 1.0,
                        metallic: 0.0,
                        alpha_mode: Blend,
                        double_sided: false,
                        unlit: false,
                        fog_enabled: true,
                        reflectance: 0.5,
                    )),
                ),
            ],
            process: (
                particle_flags: "",
                spawn: (
                    position: (
                        emission_shape: Sphere(
                            radius: 0.3,
                        ),
                        emission_shape_offset: (0.0, 0.0, 0.0),
                        emission_shape_scale: (1.0, 1.0, 1.0),
                    ),
                    velocity: (
                        inherit_velocity_ratio: 0.0,
                        velocity_pivot: (0.0, 0.0, 0.0),
                        direction: (1.0, 0.0, 0.0),
                        spread: 45.0,
                        flatness: 0.0,
                        initial_velocity: (
                            min: 0.0,
                            max: 0.5,
                        ),
                    ),
                ),
                animated_velocity: (
                    radial_velocity: (
                        value: (
                            min: 0.0,
                            max: 0.0,
                        ),
                    ),
                ),
                accelerations: (
                    gravity: (0.0, 1.0, 0.0),
                ),
                display: (
                    scale: (
                        range: (
                            min: 0.2,
                            max: 0.3,
                        ),
                        curve: Some((
                            curve: LinearReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                    color_curves: (
                        initial_color: Gradient(
                            gradient: (
                                stops: [
                                    (
                                        color: (0.047058824, 0.039215688, 0.03529412, 1.0),
                                        position: 0.0,
                                    ),
                                    (
                                        color: (0.10980392, 0.09803922, 0.09019608, 1.0),
                                        position: 1.0,
                                    ),
                                ],
                                interpolation: Linear,
                            ),
                        ),
                        alpha_curve: Some((
                            curve: SineOutReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                ),
                turbulence: Some((
                    enabled: true,
                    noise_strength: 0.1,
                    noise_scale: 0.2,
                    noise_speed: (0.0, 0.0, 0.0),
                    noise_speed_random: 0.2,
                    influence: (
                        min: 0.01,
                        max: 0.04,
                    ),
                    influence_curve: Some((
                        curve: SineInOut,
                        min_value: 0.0,
                        max_value: 1.0,
                    )),
                )),
            ),
        ),
        (
            name: "Fire",
            enabled: true,
            amount: 16,
            time: (
                lifetime: 1.0,
                lifetime_randomness: 0.0,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                randomness: 0.0,
                fixed_fps: 30,
                seed: 0,
                use_fixed_seed: false,
            ),
            drawing: (
                draw_order: Index,
            ),
            draw_passes: [
                (
                    mesh: Sphere(
                        radius: 1.0,
                    ),
                    material: Standard((
                        base_color: (1.0, 1.0, 1.0, 1.0),
                        emissive: (0.0, 0.0, 0.0, 1.0),
                        perceptual_roughness: 1.0,
                        metallic: 0.0,
                        alpha_mode: Opaque,
                        double_sided: false,
                        unlit: false,
                        fog_enabled: true,
                        reflectance: 0.5,
                    )),
                ),
            ],
            process: (
                particle_flags: "",
                spawn: (
                    position: (
                        emission_shape: Sphere(
                            radius: 0.2,
                        ),
                        emission_shape_offset: (0.0, 0.0, 0.0),
                        emission_shape_scale: (1.0, 1.0, 1.0),
                    ),
                    velocity: (
                        inherit_velocity_ratio: 0.0,
                        velocity_pivot: (0.0, 0.0, 0.0),
                        direction: (1.0, 0.0, 0.0),
                        spread: 180.0,
                        flatness: 0.0,
                        initial_velocity: (
                            min: 0.0,
                            max: 5.0,
                        ),
                    ),
                ),
                animated_velocity: (
                    radial_velocity: (
                        value: (
                            min: 0.0,
                            max: 0.0,
                        ),
                    ),
                ),
                accelerations: (
                    gravity: (0.0, 0.3, 0.0),
                ),
                display: (
                    scale: (
                        range: (
                            min: 0.2,
                            max: 0.4,
                        ),
                        curve: Some((
                            curve: SineInOutReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                    color_curves: (
                        initial_color: Gradient(
                            gradient: (
                                stops: [
                                    (
                                        color: (0.9607843, 0.61960787, 0.043137256, 1.0),
                                        position: 0.0,
                                    ),
                                    (
                                        color: (0.9764706, 0.4509804, 0.08627451, 1.0),
                                        position: 1.0,
                                    ),
                                ],
                                interpolation: Linear,
                            ),
                        ),
                        emission_curve: Some((
                            curve: SineOutReverse,
                            min_value: 0.0,
                            max_value: 10.0,
                        )),
                    ),
                ),
                turbulence: Some((
                    enabled: false,
                    noise_strength: 0.1,
                    noise_scale: 2.5,
                    noise_speed: (0.0, 0.0, 0.0),
                    noise_speed_random: 0.2,
                    influence: (
                        min: 0.01,
                        max: 0.04,
                    ),
                )),
            ),
        ),
        (
            name: "Sparks",
            enabled: true,
            amount: 20,
            time: (
                lifetime: 0.7,
                lifetime_randomness: 0.0,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.9,
                randomness: 0.0,
                fixed_fps: 30,
                seed: 0,
                use_fixed_seed: false,
            ),
            drawing: (
                draw_order: Index,
            ),
            draw_passes: [
                (
                    mesh: Cylinder(
                        top_radius: 0.2,
                        bottom_radius: 0.0,
                        height: 3.0,
                        radial_segments: 16,
                        rings: 4,
                        cap_top: true,
                        cap_bottom: true,
                    ),
                    material: Standard((
                        base_color: (1.0, 1.0, 1.0, 1.0),
                        emissive: (0.0, 0.0, 0.0, 1.0),
                        perceptual_roughness: 0.5,
                        metallic: 0.0,
                        alpha_mode: Blend,
                        double_sided: false,
                        unlit: false,
                        fog_enabled: true,
                        reflectance: 0.5,
                    )),
                ),
            ],
            process: (
                particle_flags: "ALIGN_Y_TO_VELOCITY",
                spawn: (
                    position: (
                        emission_shape: Sphere(
                            radius: 0.2,
                        ),
                        emission_shape_offset: (0.0, 0.0, 0.0),
                        emission_shape_scale: (1.0, 1.0, 1.0),
                    ),
                    velocity: (
                        inherit_velocity_ratio: 0.0,
                        velocity_pivot: (0.0, 0.0, 0.0),
                        direction: (1.0, 0.0, 0.0),
                        spread: 180.0,
                        flatness: 0.0,
                        initial_velocity: (
                            min: 2.0,
                            max: 5.0,
                        ),
                    ),
                ),
                animated_velocity: (
                    radial_velocity: (
                        value: (
                            min: 0.0,
                            max: 0.0,
                        ),
                    ),
                ),
                accelerations: (
                    gravity: (0.0, -1.5, 0.0),
                ),
                display: (
                    scale: (
                        range: (
                            min: 0.2,
                            max: 0.4,
                        ),
                        curve: Some((
                            curve: SineInOutReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                    color_curves: (
                        initial_color: Gradient(
                            gradient: (
                                stops: [
                                    (
                                        color: (0.9607843, 0.61960787, 0.043137256, 1.0),
                                        position: 0.0,
                                    ),
                                    (
                                        color: (0.9764706, 0.4509804, 0.08627451, 1.0),
                                        position: 1.0,
                                    ),
                                ],
                                interpolation: Linear,
                            ),
                        ),
                        emission_curve: Some((
                            curve: SineOutReverse,
                            min_value: 0.0,
                            max_value: 10.0,
                        )),
                    ),
                ),
                turbulence: Some((
                    enabled: false,
                    noise_strength: 0.1,
                    noise_scale: 2.5,
                    noise_speed: (0.0, 0.0, 0.0),
                    noise_speed_random: 0.2,
                    influence: (
                        min: 0.01,
                        max: 0.04,
                    ),
                )),
            ),
        ),
        (
            name: "Shockwave",
            enabled: true,
            amount: 1,
            time: (
                lifetime: 0.5,
                lifetime_randomness: 0.0,
                delay: 0.3,
                one_shot: true,
                explosiveness: 0.0,
                randomness: 0.0,
                fixed_fps: 30,
                seed: 0,
                use_fixed_seed: false,
            ),
            drawing: (
                draw_order: Index,
            ),
            draw_passes: [
                (
                    mesh: Quad(
                        orientation: FaceY,
                    ),
                    material: Standard((
                        base_color: (1.0, 1.0, 1.0, 1.0),
                        base_color_texture: Some("circle_01_a.png"),
                        emissive: (0.0, 0.0, 0.0, 1.0),
                        perceptual_roughness: 0.5,
                        metallic: 0.0,
                        alpha_mode: Blend,
                        double_sided: true,
                        unlit: true,
                        fog_enabled: true,
                        reflectance: 0.5,
                    )),
                ),
            ],
            process: (
                particle_flags: "",
                spawn: (
                    position: (
                        emission_shape: Point,
                        emission_shape_offset: (0.0, 0.0, 0.0),
                        emission_shape_scale: (1.0, 1.0, 1.0),
                    ),
                    velocity: (
                        inherit_velocity_ratio: 0.0,
                        velocity_pivot: (0.0, 0.0, 0.0),
                        direction: (1.0, 0.0, 0.0),
                        spread: 45.0,
                        flatness: 0.0,
                        initial_velocity: (
                            min: 0.0,
                            max: 0.0,
                        ),
                    ),
                ),
                animated_velocity: (
                    radial_velocity: (
                        value: (
                            min: 0.0,
                            max: 0.0,
                        ),
                    ),
                ),
                accelerations: (
                    gravity: (0.0, 0.0, 0.0),
                ),
                display: (
                    scale: (
                        range: (
                            min: 6.0,
                            max: 6.0,
                        ),
                        curve: Some((
                            curve: CubicOut,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                    color_curves: (
                        initial_color: Solid(
                            color: (1.0, 1.0, 1.0, 1.0),
                        ),
                        alpha_curve: Some((
                            curve: CubicOutReverse,
                            min_value: 0.0,
                            max_value: 1.0,
                        )),
                    ),
                ),
            ),
        ),
    ],
)